<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <!-- Servlet Inicio -->
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>Inicio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Registro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CrearCuenta</servlet-name>
        <servlet-class>CrearCuenta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearCuenta</servlet-name>
        <url-pattern>/CrearCuenta</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Interfaz</servlet-name>
        <servlet-class>Interfaz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Interfaz</servlet-name>
        <url-pattern>/Interfaz</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Chess</servlet-name>
        <servlet-class>Chess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Chess</servlet-name>
        <url-pattern>/Chess</url-pattern>
    </servlet-mapping>

        <servlet>
        <servlet-name>CrearPartida</servlet-name>
        <servlet-class>CrearPartida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearPartida</servlet-name>
        <url-pattern>/CrearPartida</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Inscripcion</servlet-name>
        <servlet-class>Inscripcion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inscripcion</servlet-name>
        <url-pattern>/Inscripcion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>Perfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditarPassword</servlet-name>
        <servlet-class>EditarPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarPassword</servlet-name>
        <url-pattern>/EditarPassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BuscarPartida</servlet-name>
        <servlet-class>BuscarPartida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarPartida</servlet-name>
        <url-pattern>/BuscarPartida</url-pattern>
    </servlet-mapping>




    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
